.embla__container {
  display: flex;

  /* max-width: 600px;
  max-height: 450px; */
}


.embla {
  overflow: hidden;
}

.embla__slide {
  /* flex: 0 0 100%; */
  min-width: 0;

  flex-direction: row;

  border: 1px solid black;

}