.main-image {
  max-width: 600px;
  max-height: 450px;
}

.thumbnails img {
  max-width: 60px;
  max-height: 45px;
}

#current {
  max-width: 600px;
  max-height: 450px;
}

#button-container {
  height: 100px;
  width: max-content;
  border: 1px solid;
}